<%= render "pages/header_partial" %>

<div class='bookingcontainer'>
  <div class='imgcontainer'>
    <%= cl_image_tag @shoe.user.profile_picture.key, class: 'ownerimg'%>
    <%= cl_image_tag @shoe.images[0].key, class:'shoeimg' %>
    <%= cl_image_tag current_user.profile_picture.key, class:'userimg' %>
  </div>

<div id='shoe-booking-dates' class= 'infobox highlighted' data-unavailable="<%= @shoe.unavailable_dates.to_json %>">
    <h3> Book this shoes: </h3>
    <% if current_user.id != @shoe.user_id  %>
       <%= simple_form_for([@shoe, @booking], remote: true) do |f| %>
           <%= f.input :pick_up_date, as: :string, input_html: {class: "datepicker"} %>
           <%= f.input :return_date, as: :string, input_html: {class: "datepicker"}  %>
           <%= f.submit "Book", class: "btn bookingbtn" %>
        <% end %>
      <% else %>
      <p><strong>You cannot book your own shoe</strong></p>
      <p>Have a nice day!</p>
    <% end %>
 </div>
