<%= render "pages/header_partial" %>


<div class='bookingcontainer'>
  <div class='picdesc'>
    <div>
      Owner: <%= @booking.shoe.user.email %>
      Description: <%= @booking.shoe.description %>
    </div>
    <div>
      <%= cl_image_tag @booking.shoe.image1.key, class:'shoepic' %>
    </div>
  </div>
  <div class='infobox'>
    <ul>
      <li> Model: <%= @booking.shoe.model %></li>
      <li> Size: <%= @booking.shoe.size %></li>
      <li> Daily price for shoe: €<%= @booking.shoe.price %>
      <li> Booking time: from <%= @booking.pick_up_date %> to: <%= @booking.return_date %>
      <li> Total price: €<%= @booking.total_price %>
    </ul>
  </div>
</div>

<%= link_to 'All shoes', shoes_path %>
