<!-- Header -->
<div class="header">
  <a href="#"><%= image_tag ("/assets/logo.png") %></a>

<div class="navbar">
  <div><%= link_to profile_path do %><%= cl_image_tag( current_user.profile_picture.key ) unless current_user == nil  %><p>PROFILE</p><% end %></div>
  <br>
  <%= link_to shoes_path do %><%= cl_image_tag( Shoe.first.image1.key ) %><p>ALLshoes</p><% end %>
  <br>
  <%= link_to new_shoe_path do %><%= cl_image_tag( Shoe.fifth.image1.key ) %><p>ADDshoes</p><% end %>
  <br>
  <%= link_to new_shoe_path do %><%= cl_image_tag( Shoe.last.image1.key ) %><p>Bookings</p><% end %>
  <br>
  <%= link_to about_path do %><%= cl_image_tag( Shoe.second.image1.key ) %><p>ABOUT</p><% end %>
</div>

</div>
<%
=begin%>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<%
=end%>
