<!-- Navbar -->
<div class="navbar">
  <a href="#"><%= image_tag ("/assets/icon.png") %></a>
  <a href="#"><%= image_tag ("/assets/icon.png") %></a>
  <a href="#"><%= image_tag ("/assets/icon.png") %></a>
  <a href="#"><%= image_tag ("/assets/icon.png") %></a>
  <a href="#"><%= image_tag ("/assets/icon.png") %></a>
  <a href="#"><%= image_tag ("/assets/icon.png") %></a>
</div>
