<%= render "pages/header_partial" %>
<%= render "pages/navbar_partial" %>

<div class="main-content">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="row">
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <%= image_tag ("/assets/card_icon.png") %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<%= link_to 'Go check out all the shoes', shoes_path %>
<%= render "pages/footer_partial" %>
