<%= render "pages/header_partial" %>
<%= render "pages/navbar_partial" %>

<div class="main-content">
<%
=begin%>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @shoes.each do |shoe| %>
        <div class="carousel-item active">
          <div class="row">
            <div class="column">
              <div class="card">
                <%= link_to shoe_path(shoe), class: "text-decoration-none" do %>
                <div class="shoe-thumbnail tbig">
                <%= cl_image_tag shoe.user.profile_picture.key, class:"avatar" %>
                <%= cl_image_tag shoe.image1.key, class:"shoe-image" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<%
=end%>
<div class="d-flex justify-content-between">
  <% shoe = @shoes[0] %>
  <%= link_to shoe_path(shoe), class: "text-decoration-none" do %>
    <div class="shoe-thumbnail tbig">
      <%= cl_image_tag shoe.user.profile_picture.key, class:"avatar" %>
      <%# <%= cl_image_tag shoe.image1.key, class:"shoe-image" %> %>
    </div>
  <% end %>

    <% shoe = @shoes[1] %>
  <%= link_to shoe_path(shoe), class: "text-decoration-none" do %>
    <div class="shoe-thumbnail tbig">
      <%= cl_image_tag shoe.user.profile_picture.key, class:"avatar" %>
      <%# <%= cl_image_tag shoe.image1.key, class:"shoe-image" %> %>
    </div>
  <% end %>

    <% shoe = @shoes[2] %>
  <%= link_to shoe_path(shoe), class: "text-decoration-none" do %>
    <div class="shoe-thumbnail tbig">
      <%= cl_image_tag shoe.user.profile_picture.key, class:"avatar" %>
      <%# <%= cl_image_tag shoe.image1.key, class:"shoe-image" %> %>
    </div>
  <% end %>
</div>
</div>
<%= render "pages/footer_partial" %>
