
<div class="container">
<%= simple_form_for @shoe do |f| %>
  <%= f.input  :model %>
  <%= f.input :size, :collection => [35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46] %>
  <%= f.input  :price %>
  <%= f.input  :description %>
  <%= f.input  :address %>
  <%= f.file_field :images, :multiple => true  %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
