
<div class="container">
<%= simple_form_for @shoe do |f| %>
  <%= f.input  :model %>
  <%= f.input  :size %>
  <%= f.input  :price %>
  <%= f.input  :description %>
  <%= f.input  :address %>
  <%= f.file_field :images, :multiple => true  %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
