
<div class="container">
<%= simple_form_for @shoe do |f| %>
  <%= f.input  :model %>
  <%= f.input :size, :collection => [36.0, 36.5, 37.5, 38.0, 38.5, 39.0, 40.0, 40.5, 41.0, 42.0, 42.5, 43.0, 44.0, 44.5, 45.0, 45.5, 46.0, 47, 47.5, 48] %>
  <%= f.input  :price %>
  <%= f.input  :description %>
  <%= f.input  :address %>
  <%= f.file_field :images, :multiple => true  %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
