<div class="mt-5">
    <div class="row">
    <div class="col-2">
      <%= cl_image_tag( @shoe.user.profile_picture.key, height: 100, width: 100, crop: :fill, class: "round") %>
      <p class="purpletext"><%= @shoe.user.first_name %> <%= @shoe.user.last_name %></p>
    </div>
      <div class="shoe-thumbnail thuge col-5 pb-3">
        <%# <%= cl_image_tag( @shoe.image1.key, height: 300, width: 300, crop: :fill, class: "shoe-image") %> %>
      </div>
      <div class="pt-5 col-5">
      <h2 class="purpletitle"><%= @shoe.model %></h2>
      <p class="purpletext">size: <%= @shoe.size == @shoe.size.to_i ? @shoe.size.to_i : @shoe.size %></p>
      <p class="purpletext">price per day: <%= @shoe.price %>€</p>
      <p class="purpletext"><%= @shoe.description %></p>
  </div>
    </div>
    <div class="row">
    <div class="col-5"></div>
    <div class="col-7 d-flex">

      </div>
    </div>
  <%= link_to 'Rent this shoe',  new_shoe_booking_path(@shoe), class:"btn btn-primary" %>
  <%
=begin%>
 <%= link_to 'Edit this shoe',  edit_shoe_path(@shoe), class:"btn btn-primary" %>
<%
=end%>
</div>
