<div class="container">
  <div class="container">
    <div class="row">
      <%= cl_image_tag( @shoe.user.profile_picture.key, height: 100, width: 100, crop: :fill, class: "round") %>
      <%= cl_image_tag( @shoe.image1.key, height: 300, width: 300, crop: :fill, class: "round") if @shoe.image1.attached? %>
      <%= cl_image_tag( @shoe.image2.key, height: 300, width: 300, crop: :fill, class: "round") if @shoe.image2.attached? %>
      <%= cl_image_tag( @shoe.image3.key, height: 300, width: 300, crop: :fill, class: "round") if @shoe.image3.attached? %>
      <%= cl_image_tag( @shoe.image4.key, height: 300, width: 300, crop: :fill, class: "round") if @shoe.image4.attached? %>
      <%= cl_image_tag( @shoe.image5.key, height: 300, width: 300, crop: :fill, class: "round") if @shoe.image5.attached? %>
    </div>
  </div>
  <%= link_to 'Back to all the shoes', shoes_path %>
  <%= link_to 'Edit your shoes', edit_shoe_path %>
</div>
